body {
  background-color: #cff6cf;
  font-family: sans-serif;
}

h1 {
  text-decoration: none;
  margin: 0;
}

h2 {
  margin: 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: fantasy;
  font-size: 2em;
}

.InputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 1em;
  width: 100%;
}

.GuessBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 24px);
  width: calc(100vw - 24px);
}

.GuessButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5em;
}

.Button {
  border-radius: 5px;
  padding: 0.5em 1em;
  height: 40px;
  cursor: pointer;

  &.Primary {
    background-color: green;
    border: 1px solid darkgreen;
    color: white;
  }

  &.Secondary {
    background-color: darkgreen;
    border: 1px solid darkgreen;
    color: white;
  }

  &.Blank {
    background-color: transparent;
    border: 0px;
    color: #333;
  }

  &:disabled {
    background-color: #d9d6d6;
    border: 1px solid #aaa;
    color: #666;
    cursor: not-allowed;
    font-style: italic;
  }
}

.ModalClose {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
}

.ModalContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ModalCenterContent {
  flex-grow: 1;
}

@keyframes greenCycle {
  0% {
    background-color: hsl(134, 50%, 20%);
  }
  50% {
    background-color: hsl(134, 50%, 30%);
  }
  100% {
    background-color: hsl(134, 50%, 20%);
  }
}

.greenCycle {
  animation-name: greenCycle;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
