.header {
  width: 100%;
  border-bottom: 1px solid #333;
}

.InputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 1em;
  width: 100%;
}

.GuessBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh - 16;
  width: 100vw - 16;
}

.GuessButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5em;
}

/* 
TODO: 
  - make the font different (not times new roman)
  - center the image
  - make the button and select look better
*/
