h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.header {
  width: 100%;
  border-bottom: 1px solid #333;
}

.InputContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin: 1em;
}

.SelectContainer {
  width: 50%;
}
